DEBUG=False

ALLOWED_HOSTS=.traininggurus.co.in, .www.traininggurus.co.in
CSRF_TRUSTED_ORIGINS=https://traininggurus.co.in

DB_NAME=db
DB_USERNAME=dbuser
DB_PASSWORD=passme
DB_HOSTNAME=db
DB_PORT=3306
DB_ROOT_PASSWORD=passme

REDIS_BACKEND=redis://redis:6379/0

NGINX_PORT=80
DOMAIN=traininggurus.co.in

PROJECT_NAME=training_gurus
DJANGO_SETTINGS_MODULE=training_gurus.prod_settings

COMPOSE_PROFILES=production
