{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}

<div class="col-lg-9 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Blog Comments</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Blog Name</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Message</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments %}
                        <tr>
                            <td>{{ comment.blog.name }}</td>
                            <td>{{ comment.name }}</td>
                            <td>{{ comment.email }}</td>
                            <td style="word-wrap: break-word; white-space: inherit; height: 200px; overflow: auto;">{{ comment.comment_text }}</td>
                            <td>{{ comment.created_date|date:"M d, Y" }}</td>
                            <td>
                                <a href="{% url 'admin_delete_comment' comment.id  %}"><button><i class="mdi mdi-delete" aria-hidden="true"></i></button></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
