{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
 
            <div class="col-lg-11 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Chatbot Messages</h4>
                  <!-- <p class="card-description">
                    Add class <code>.table-striped</code>
                  </p> -->
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                         
                          <th>
                            
                            Phone
                          </th>
                          <th>
                            Email
                          </th>
                          <th>
                            Message
                          </th>
                          <th>
                            Date
                          </th>
                       
                          <th>
                            Delete
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for bot in chatbot %}
                        <tr>
                          <td style="width: 150px; ">
                            {{ bot.name }}
                          </td>
                      
                          <td style="width: 150px; ">
                            {{ bot.phone_number }}
                          </td>
                          <td style="width: 150px; ">
                            {{ bot.email }}
                          </td>
                          
                          <td style="width: 600px; word-wrap: break-word; white-space: inherit; height: 300px; overflow: auto;">
                            {{ bot.message }}
                        </td>
                        
                        <td style="width: 150px; ">
                          {{ bot.created_at | date:"d-m-Y" }}
                        </td>
                        
                        
                          <td style="width: 150px; ">
                            <a href="{% url 'delete_message' bot.id  %}"><button><i class="mdi mdi-delete" aria-hidden="true"></i> </button></a>
                           
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}