{% extends "base.html" %}
{% load static %}

{% block content %}
	<!-- START -->
<div class="inner-banner" style="background:url({% static 'images/home/co1.jpg' %}) no-repeat center;background-size:cover;">
    <div class="opacity">
        <div class="container">
            <h3>CONTACT US</h3>
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.inner-banner -->

<!-- ============================================= -->
<!-- Contact Us Page -->
<!-- ============================================= -->

<!-- END -->



			<!-- Contact Form -->
			<div class="contact-form-holder container">
				<div class="row">
					<div style="align-items: center; width: 500px; margin-left: 30%; text-align: center;">

						{% if messages %}
						{% for message in messages %}
							<div class="alert alert-success" role="alert">
								{{ message }}
							</div>
						{% endfor %}
					  
					{% endif %}
					<script>
						setTimeout(function() {
							var alerts = document.querySelectorAll('.alert');
							alerts.forEach(function(alert) {
								alert.style.transition = 'opacity 0.5s ease-out';
								alert.style.opacity = '0';
								setTimeout(function() {
									alert.style.display = 'none';
								}, 500); // Ensure the alert is completely faded out before hiding
							});
						}, 3000); // 3 seconds delay before starting to hide the alerts
					</script>
				  </div>
					<form method="post" class="form-validation" autocomplete="off">{% csrf_token %}
						<div class="col-sm-6 col-xs-12">
							<div class="single-input-group">
								<input type="text" placeholder="First Name" name="first_name" required>
							</div> <!-- /.single-input-group -->
						</div> <!-- /.col- -->
						<div class="col-sm-6 col-xs-12">
							<div class="single-input-group">
								<input type="text" placeholder="Last Name" name="last_name" required>
							</div> <!-- /.single-input-group -->
						</div> <!-- /.col- -->
						<div class="col-sm-6 col-xs-12">
							<div class="single-input-group">
								<input type="email" placeholder="Email" name="email" required>
							</div> <!-- /.single-input-group -->
						</div> <!-- /.col- -->
						<div class="col-sm-6 col-xs-12">
							<div class="single-input-group">
								<input type="text" placeholder="Phone" name="phone" required>
							</div> 
						</div>
						<div class="col-xs-12">
							<textarea placeholder="Write Message" name="message" required></textarea>
							<button class="tran3s p-bg-color">send</button>
							<br><br>
						</div>
					</form>
				</div> 
				<div class="alert-wrapper" id="alert-success">
					<div id="success">
						<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
						<div class="wrapper">
			               	<p>Your message was sent successfully.</p>
			             </div>
			        </div>
			    </div> 
			    <div class="alert-wrapper" id="alert-error">
			        <div id="error">
			           	<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
			           	<div class="wrapper">
			               	<p>Sorry!Something Went Wrong.</p>
			            </div>
			        </div>
			    </div> 
			</div> 


		
			  

{% endblock %}