{% extends "base.html" %}
{% load static %}

{% block content %}

<!--
=============================================
    Theme Inner Banner
==============================================
-->
<div class="inner-banner" style="background:url({% static 'images/inner-page/banner-3o.jpg' %}) no-repeat center;background-size:cover;">
    <div class="opacity">
        <div class="container">
            <h3>SKILL DEVELOPMENT</h3>
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.inner-banner -->

<!--
=============================================
    Service Details
==============================================
-->
<div class="service-details">
    <div class="container">
        <div class="bizcoach-row">
            <div class="bizcoach-col float-right service-large-sidebar">
                <h4>SKILL DEVELOPMENT</h4>
                <p class="m1">
                    The ever-changing business environment throws new and complex challenges at your business every day. Meeting these challenges effectively requires a highly skilled workforce. Our skill development services enable both new and existing members of your workforce to be equipped with the necessary skills and competencies to face the challenges at the workplace. The focus is on person-centered skill development. Disha Mentors uses the most advanced and scientifically proven skill assessment and development tools to give you the most accurate results with respect to monitoring employee development.
                </p>
                <p class="m1">
                    We are also focusing on imparting skills and attitude to the student segment to enable them to excel in their respective fields.
                </p>
                <h4 id="developmenttools">
                    The various skill development tools employed by us are as follows:
                </h4>
                <ul>
                    <li>⚫ &nbsp; Business Games and Exercises</li>
                    <li>⚫ &nbsp;'Case Study' and 'Case Discussions'</li>
                    <li>⚫ &nbsp; Induction Programs for Students</li>
                    <li>⚫ &nbsp; Skill Training for Students</li>
                    <li>⚫ &nbsp; GD, Resume Preparation, and Interview Skills</li>
                    <li>⚫ &nbsp; Situational Role Plays</li>
                    <li>⚫ &nbsp; Buzz Groups</li>
                    <li>⚫ &nbsp; Focus Group Discussions</li>
                    <li>⚫ &nbsp; Cross-Functional Group Discussions</li>
                    <li>⚫ &nbsp; Brainstorming</li>
                    <li>⚫ &nbsp; Sensitivity Training</li>
                    <li>⚫ &nbsp; Outbound Adventure-Based Learning</li>
                </ul>
            </div> <!-- /.service-large-sidebar -->

            <div class="bizcoach-col float-left service-sidebar">
                <div class="sidebar-list-item">
                    <ul>
                        <li><a href="" class="tran3s">SKILL DEVELOPMENT</a></li>
                        <li><a href="#developmenttools" class="tran3s">DEVELOPMENT TOOLS</a></li>
                        <li><a href="#ourclients" class="tran3s">OUR CLIENTS</a></li>
                    </ul>
                </div> <!-- /.sidebar-list-item -->

               
            </div> <!-- /.service-sidebar -->
        </div> <!-- /.bizcoach-row -->
    </div> <!-- /.container -->
</div> <!-- /.service-details -->
<br><br>

<!--
=============================================
    Partner Logo
==============================================
-->
<div class="partner-section" id="ourclients">
	<div class="opacity">
		<div class="container">
			<div class="theme-title">
				<h2>Our Clients</h2>
				<p>We take pride in our clients who speak for us. We love them a lot. We are Awesome at what we do.</p>
			</div> <!-- /.theme-title -->

			<div id="partenr-logo">{% for logos in client_logo %}
                <div class="item"><img src="{{logos.logo.url}}" alt=""></div>
                {% endfor %}
		</div> <!-- /.container -->
	</div> <!-- /.opacity -->
</div> <!-- /.partner-section -->

{% endblock %}
